sunder-compile

examples/big-integer-calculator
examples/brainfuck
examples/cat
examples/custom-sys-asm/custom-sys-asm
examples/fizzbuzz
examples/greet
examples/hello
examples/ls

a.out*
*.out
*.o
*.asm
*.tmp
*.log

!lib/sys/sys.asm
!examples/custom-sys-asm/sys.asm
