sunder-compile

examples/brainfuck
examples/cat
examples/custom-sys-asm/custom-sys-asm
examples/echo
examples/env
examples/fizzbuzz
examples/greet
examples/hello
examples/ls
examples/sum-integers

*.out
*.o
*.asm
*.tmp

!lib/sys/sys.asm
!examples/custom-sys-asm/sys.asm
