sunder-compile

examples/big-integer-calculator
examples/brainfuck
examples/cat
examples/fizzbuzz
examples/greet
examples/hello
examples/ls
examples/ffi/calling-c-from-sunder
examples/ffi/calling-sunder-from-c

*.tmp*
a.out*
*.out
*.o
*.asm
*.tmp
*.log
*.html
*.wasm

emsdk/

!lib/sys/sys.wasm32-emscripten.html
